:root {
    --color-primary-50: 236, 253, 245;
    --color-primary-100: 209, 250, 229;
    --color-primary-200: 167, 243, 208;
    --color-primary-300: 110, 231, 183;
    --color-primary-400: 52, 211, 153;
    --color-primary-500: 56, 213, 135;
    --color-primary-600: 16, 185, 129;
    --color-primary-700: 5, 150, 105;
    --color-primary-800: 4, 120, 87;
    --color-primary-900: 6, 95, 70;
    --color-primary-950: 2, 44, 34;
}
